$colorText: #868e96;
$colorTextDark: #343a40;
$colorPrimary: rgb(88, 196, 198);
$colorPrimaryLignt: rgb(136, 253, 255);
$colorLines: rgb(222, 226, 230);

$fontFamily: 'Open Sans', sans-serif;
$fancyFont: 'Saira Extra Condensed', serif;
$fontRegular: 300;
$fontNormal: 400;
$fontSemiBold: 500;
$fontBold: 600;
$fontExtraBold: 700;

$screenXs: 480px;
$screenSm: 700px;
$screenMd: 1010px;
$screenLr: 1200px;

$eventCellFooterHeight: 18px;
