@import '../../styles/variables.scss';

.root {
  padding: 0 20px 0 50px;
  height: 100vh;
  border-bottom: 1px solid $colorLines;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  @media screen and (max-width: $screenSm) {
    padding: 0 20px;
  }

  @media screen and (max-width: $screenXs) {
    display: none;
  }
}

.title {
  margin: 50px 0;
  font-size: 60px;
  text-transform: uppercase;
  font-weight: $fontExtraBold;
  font-family: $fancyFont;
}
