@import '../../styles/variables.scss';

.root {
  height: 100vh;
  display: flex;
  align-items: center;
}

.content {
  padding: 0 20px 0 50px;

  @media screen and (max-width: $screenSm) {
    padding: 0 20px;
  }
}

.name {
  font-size: 50px;
  text-transform: uppercase;
}

.surname {
  padding-left: 10px;
  color: $colorTextAccent;

  @media screen and (max-width: $screenSm) {
    display: block;
    padding: 0;
  }
}

.email {
  display: block;
  margin-top: 10px;
  font-size: 15px;
  text-decoration: none;
  color: $colorTextAccent;
}

.message {
  margin-top: 50px;
  font-size: 17px;
  color: $colorTextPrimary;
  line-height: 1.5;
}

.social {
  margin-top: 50px;
  display: flex;
  align-items: center;

  @media screen and (max-width: $screenSm) {
    text-align: center;
  }
}

.socilIcon {
  margin-right: 20px;
  color: $colorTextPrimary;
  font-size: 40px;
}

.link {
  margin-right: 20px;
  color: $colorTextPrimary;
}

.blink {
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}
